.studentInfo {
    width: 500px;
    border-collapse: collapse;
}

    .studentInfo td {
        border: 1px solid black;
    }

    .B {
        background-color: #E4FFB7;
    }

    .A {
         background-color: #EFFFD2;
    }


.header {
    text-align: center;
    font-weight: bolder;
    background-color: #80B327;
    color: white;
}